# Node.js dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env
.env.*

# Build artifacts
dist/
build/

# TypeScript cache
.tsbuildinfo

# OS and editor files
.DS_Store
Thumbs.db